<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Zoommer Test Suite">
    <test name="Zoommer Tests">
        <classes>
            <class name="zoommer.tests.SearchTest"/>
            <class name="zoommer.tests.CategoryTest"/>
            <class name="zoommer.tests.ProductPageTest"/>
        </classes>
    </test>
</suite>